<div>
    <h1>Todo List</h1>
    <p> A place to store your todos</p>
    <form>
        <input  type="filter" name="entry" placeholder="A place to store your todos" [(ngModel)]="filterList" (click)="filterTodo()">
        <ol>
            <li *ngFor="let Todos of Todos;" >
                <div class="todo-entry">
                <button class = "Completed"  *ngIf="Todos.completed === true" >completed</button>
                
                <!-- <div [ngClass]="{'strikethrough':Todos.completed === True}"> -->
                <!-- still working on above line of code to apply styling to task -->
                <div>
                    {{Todos.task}}
                                
                </div>
                
                <button class="btn"><i class="fa fa-close"></i></button>
                </div>
            </li>  
        </ol>
        
        <input type="Text" name="AddEntry" placeholder="Add your todo" [(ngModel)]="todoTitle" >
        <button class="add" (click)="addTodo()"  >Add</button>

    </form>
</div>

<!-- [ngClass]="{'strikethrough':Todos.completed === True}" -->
